.gnx {
    min-height: 150vh;
    background-color: var(--bg-dark);
    background: linear-gradient(180deg, #36251E 0%, #121314 75%, #d8e1dd 110%);
    padding: var(--section-padding);
    color: var(--text-secondary);
}

.gnx .contenitore-layout {
    flex-direction: row-reverse;
    align-items: center;
}

.titolo-gnx {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 1px;
}

h1 .f1 {
    font-size: 80px;
    letter-spacing: 2.6px;
    color: #eb2925
}

h1 .f2 {
    font-size: 140px;
    color: black;
}

.testo-gnx {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 650px;
}

.testo-gnx p {
    font-family: var(--font-text-primary);
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.7;
}

.immagine-gnx {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.gnx-preview {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.gnx-preview iframe {
    width: 100%;
    min-width: 280px;
    max-width: 600px;
}

.immagine-gnx img {
    max-width: 82%;
    border-radius: 10px;
    height: auto;
    max-height: 800px;
    object-fit: cover;
}

hr.barra-gnx {
    height: 15px;
    border: none;
    margin: var(--hr-margin);
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(45deg, #eb2925 25%, transparent 25%, transparent 75%, #eb2925 75%),
        linear-gradient(45deg, #eb2925 25%, transparent 25%, transparent 75%, #eb2925 75%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

@media (max-width: 992px) {
    .immagine-gnx {
        align-items: center;
        width: 100%;
    }

    .gnx-preview {
        justify-content: center;
    }

    .gnx {
        padding: 80px 30px;
    }
}

@media (max-width: 768px) {
    .gnx {
        padding: 50px 15px;
    }

    .testo-gnx {
        font-size: 1rem;
    }

    .testo-gnx p {
        margin-top: 15px;
        padding: 10px;
        font-size: 16px;
    }

    .immagine-gnx img {
        max-height: 500px;
    }

    .gnx-preview iframe {
        width: 100% !important;
    }
}