@import url(./prima.css);
@import url(./seconda.css);
@import url(./terza.css);
@import url(./quarta.css);
@import url(./quinta.css);
@import url(./sesta.css);
@import url(./settima.css);
@import url(./ottava.css);
@import url(./nona.css);
@import url(./links2.css);

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belwe';
    src: url('../fonts/Belwe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-dark: #0D0D0D;
    --bg-gradient-end: #1A1F1C;
    --text-primary: #E1E5E8;
    --text-secondary: #DEDACE;
    --accent-red: #BA151C;
    --font-title: 'Staatliches', sans-serif;
    --font-special: 'KingKendrick', sans-serif;
    --font-special2: 'Belwe', sans-serif;
    --font-text-primary: 'Futura', sans-serif;
    --font-text-secondary: 'Futura', sans-serif;

    --shadow-glow: 0 0 10px var(--text-primary);
    --section-padding: 100px 50px;

    --hr-height: 2px;
    --hr-margin: 50px 0;
    --hr-border: none;
}

body {
    min-height: 100vh;
    background: #584B41;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    width: 100%;
}